/* Globals */

/* 
  Fonts
  --------
  font-family: 'Ubuntu', sans-serif;
*/

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url("./assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

img {
  max-width: 100%;
}

p {
  font-size: 16px;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1000px;
}

/* Mobile Sidebar */

/* Desktop Sidebar */

#desktop-sidebar {
  display: none;
}

/* Step 1 */

/* Step 2 */

#step-two {
  display: block;
}

/* Step 3 */

#step-three {
  display: block;
}

/* Step 4 */

#step-four {
  display: block;
}

/* Step 5 */

#step-five {
  display: block;
}


/* Attribution */

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}