/* Globals */

/* 
  Fonts
  --------
  font-family: 'Ubuntu', sans-serif;
*/

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url("./assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: hsl(217, 100%, 97%);
}

img {
  max-width: 100%;
}

p {
  font-size: 16px;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1000px;
}

/* Mobile Sidebar */

#mobile-sidebar {
  display: flex;
  gap: 1em;
  justify-content: center;
  color: #fff;
  padding: 1.25em 0 2em 0;
}

.mobile-form-step {
  border: solid #fff 1px;
  border-radius: 50%;
  margin: 0;
  padding: .35em;
  height: 2em;
  width: 2em;
  text-align: center;
  font-weight: 500;
}

/* Desktop Sidebar */

#desktop-sidebar {
  display: none;
}

/* Form Card */

.form-card {
  background-color: #fff;
  color:hsl(213, 96%, 18%);
  padding: 1em 1.5em;
  border-radius: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-card__title {
  margin: 0;
  padding-top: .5rem;
}

.form-card__description {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
}

.form-card__input-label {
  font-weight: 500;
}

.form-card__text-input {
  width: 100%;
  padding: .8em;
  margin-top: .25em;
  margin-bottom: 1em;
}

.form-card__footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 4%;
  width: 100%;
  background-color: #fff;
  display: flex;
}

.next-step-btn {
  background-color: hsl(213, 96%, 18%);
  color: #fff;
  padding: 1em;
  border-radius: 5%;
  border: none;
  margin-left: auto;
  font-weight: 700;
}

/* Step 1 */

/* Step 2 */

#step-two {
  display: none;
}

/* Step 3 */

#step-three {
  display: none;
}

/* Step 4 */

#step-four {
  display: none;
}

/* Step 5 */

#step-five {
  display: none;
}


/* Attribution */

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}